@use 'sass:math';
@import 'common/fonts';
@import 'common/icons';
@import 'common/reset';
@import 'common/variable';
@import 'common/mixins';

body {
  font-size: rem(14);
  font-family: $fontFamily;
}
button {
  border: 0;
  cursor: pointer;
}
fieldset {
  border: 0;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; // прижать футер
}
.page {
  flex: 1 1 auto;
}
[class*="container"] {
  max-width: $maxWidthContainer; 
  margin: 0 auto;
  padding: 0 $containerPadding;
}
@media (max-width: 1199.98px) {
  [class*="container"] {
    max-width: 970px;
  }
}
@media (max-width: $tablet) {
  [class*="container"] {
    max-width: 750px;
  }
}
@media (max-width: $mobile) {
  [class*="container"] {
    max-width: none;
  }
}
.title {
  color: $titleColor;
  font-size: rem(40);
  font-weight: 700;
  text-transform: uppercase;
}
.text {
  color: $text2Color;
  font-size: rem(15);
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.link {
  display: block;
  color: $accentColor;
  position: relative;

  font-size: rem(14);
  font-weight: 400;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
  &::before {
    content: "";
    background-image: url(../img/portfolio/arrow.png);
    width: rem(12);
    height: rem(10);
   
    position: absolute;
    top: 50%;
    left: rem(57);
    transform: translate(-50%, -50%);
  }
}
.social {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  column-gap: rem(25);
  margin-left: rem(25);
  &__item {
  }
  &__link {
  }
  &__icon {
    &::before {
      color: #b9c0c6;
      font-size: rem(20);
      transition: color .3s;
    }
    &:hover::before {
      color: $accentColor;
    }
  }
  .icon-active {
    &::before {
      color: $accentColor;
      transition: color .3s;
    }
    &:hover::before {
      color: #d27a7f;
    }
  }

}

@import 'site-parts/header';
@import 'site-parts/intro';
@import 'site-parts/snippets';
@import 'site-parts/portfolio';
@import 'site-parts/our-team';

@import 'site-parts/footer';
@import 'site-parts/media';