.footer {
  padding-top: rem(30);
  &__inner {
    padding: rem(30) 0;
    display: flex;
    justify-content: space-between;
    border-top: rem(1) solid #e6eaed;
  }
}
.copyrights {
  color: #b9c0c6;
  font-size: rem(13);
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
