.footer {
  padding-top: 30px;
  &__inner {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e6eaed;
  }
}
.copyrights {
  color: #b9c0c6;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
// ._icon-google-plus {
//   &::before {
//     font-size: 25px;
//   }
// }