.intro {
  background-image: url(../img/header/bg.jpg);
  background-size: cover;
  min-height: rem(1360);
  position: relative;
  // &::before {
  //   content: "";

  // }
}
.slogan {
  padding-top: rem(380);
  width: 65%;
  &__title {
    color: $titleColor;
    @include adaptiv(48, 27);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.03;
    span {
      color: $accentColor;
    }
  }
  &__text {
    color: $titleColor;
    margin-top: rem(11);
    margin-bottom: rem(39);

    font-size: rem(20);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }
}
.slogan-btn {
  display: flex;
  &__button {
    color: $whiteColor;
    background-color: $accentColor;
    padding: rem(20) rem(41);

    font-size: rem(15);
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-radius: rem(5);
    transition: 
      background-color .3s,
      transform .3s;
    &:hover {
      background-color: #d27a7f;
      transform: scale(102%);
    }
  }
}
