.our-team-block {
  padding-top: rem(37);
  padding-bottom: rem(30);
  &__title {
    font-size: rem(32);
  }
  &__text {
    margin-bottom: rem(43);
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    &::before {
      content: "";
      left: 0;
      left: rem(955);
    }
  }
}
.team {
  display: flex;
  padding-bottom: rem(50);
  &__item {
    display: flex;
    align-items: center;
    gap: rem(22);
  }
  &__picture {
    img {
      min-width: rem(120);
    }
  }
  &__content {
  }
  &__name {
    color: $titleColor;
    font-size: rem(22);
    font-weight: 700;
    text-transform: uppercase;
  }
  &__job-title {
    color: $accentColor;
    padding-bottom: rem(8);

    font-size: rem(14);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }
}
