.portfolio {
  display: flex;
  align-items: center;
  &__item {
    width: calc(100% / 2);
  }
  &__title {
  }
  &__subtitle {
    color: $titleColor;
    padding-bottom: rem(21);
    font-size: rem(16);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
  }
  &__text {
  }
  &__link {
    margin-top: rem(40);
  }
}
