.snippets-block {
  padding-top: rem(80);
  padding-bottom: rem(100);
}
.snippets {
  display: flex;
  gap: rem(60);
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: $title2Color;
    width: 50%;

    font-size: rem(26);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    span {
      color: $accentColor;
    }
    &_wd {
      width: 80%;
    }
  }
  &__text {
    padding-top: rem(15);
    padding-bottom: rem(20);
    margin-top: auto;
  }
}
